* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    align-items: center;
    align-self: center;
}

body {
    background: 135deg, #74ebd5, #ACB6E5;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    top: 40px;
    width: 100%;
    color: #333;
    margin-bottom: 20px;
}

p {
    background: #f5f7fa;
    padding: 14px;
    border-radius: 14px;
    font-size: 14px;
    color: #333;
}

div {
	background: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.button {
    width: 100%;
    padding: 10px;
    background: #74ebd5;
    border: none;
    border-radius: 20px;
    color: #333;
    font-weight: bold;
}

.button:hover {
    background: #5fd3bc;
}

br {
    line-height: 8px;
}