body{
	text-align: center;
	background-image: url("https://thumbs.dreamstime.com/z/futuristic-calculator-digital-background-modern-rests-glowing-surface-neon-blue-lights-circuit-patterns-322490348.jpg");
	color: white;
	font-family: 'Papyrus';
}
div{
	background: rgba(0, 0, 0, 0.50);
	box-align: center;
	padding: 100px;

}

.button {
	background-color: rgba(0, 0, 0, 0.50);
	color: white;
	padding: 15px 30px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 2em; /*1em is normal*/
	display: inline-block;
	border: 5px solid black;
	text-align: center;
	align-content: center;
}

.button:hover{
	background-color: rgba(8, 98, 151, 0.50);
}